.newPost{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 90vh;
    background-color: rgb(255, 245, 227);
    justify-content: center;
}
.newPostForm{
    padding: 1vmax 1vmax;
    margin: 2vmax 0;
    height: auto;
    display: flex;
    flex-direction: column;
    min-width: 45vw;
    max-width: 60%;
    min-height: 50vh;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}
.newPostHeading{
    text-align: center;
    color: gray;
    margin-bottom: 0.5vmax !important;
}
.newPostForm>img{
    width: 100%;
    object-fit: cover;
}
.newPostForm>input[type="text"]{
    width: 90%;
    padding: 1vmax;
    border-radius: 30px;
    border: none;
    outline: none;
    font: 100 1.2rem "Roboto",sans-serif;
}
.newPostForm>input[type="file"]{
    border-radius: 30px;
    margin: 2vmax;
}
.newPostForm>input[type="file"]::-webkit-file-upload-button{
    background-color: rgb(82, 103, 197);
    color: white;
    width: 100%;
    padding: 1vmax;
    border-radius: 30px;
    border:none;
    font:100 1.1rem "Roboto",sans-serif
}

@media screen and (max-width:700px){
    .newPostForm{
        width: 90%;
        min-height: 30vh;
    }
    .newPostHeading{
        font-size: 3vmax !important;
    }
    .newPostForm>button{
        font-size: 2vmax;
    }
}