.account {
    display: flex;
    height: 90vh;
    box-sizing: border-box;
    gap: 1vmax;
}

.accountleft {
    width: 75%;
    background-color: rgb(255, 239, 210);
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2vmax;
    box-sizing: border-box;
    border-radius: 25px;
}

.accountright {
    padding: 1vmax 1vmax;
    border-radius: 25px;
    width: 25%;
    background-color: rgb(255, 239, 210);
    box-sizing: border-box;
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.accountright>div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.accountright>div>div{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.accountright>div>button{
    margin-top: 1vmax;
}
.accountright >div>div >button{
    border: none;
    background-color: white;
    padding: 0.6vmax 0.6vmax;
    border-radius: 25px;
    transition: all 0.5s;
}
.accountright>div>div>button:hover{
    cursor: pointer;
    transform: translateX(-5px);
}
.accountright>div>a{
    text-decoration: none;
    color: gray;
    font: 100 1.2rem "Roboto";
    text-align: center;
    transition: all 0.5s;
}
.accountright>div>a:hover{
    transform: translateX(-5px);
}

@media screen and (max-width:700px) {
    .account{
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }
    .accountright{
        width: 100%;
        display: flex;
    }
    .accountright>div{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
        align-items: center;
    }
    .accountright>div>div{
        display: flex;
    }
    .accountleft{
        padding: 0;
        width: 100%;
        min-height: 500px;
    }
    .accountright>div>a{
        font: 100 1rem "Roboto";
    }
}