.update {
    min-height: 100vh;
    background-color: rgb(252, 236, 206);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2vmax;
    box-sizing: border-box;
}

.updateForm {
    background-color: white;
    width: 60%;
    border-radius: 30px;
    box-sizing: border-box;
    padding: 2vmax;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.updateInputs {
    box-sizing: border-box;
    padding: 1vmax 2vmax;
    width: 80%;
    border-radius: 30px;
    border: 1px solid #ccc;
    margin: 2vmax;
    font: 100 1.2rem "Roboto", sans-serif;
    outline: none;
}

.updateForm>input[type="file"] {
    border-radius: 30px;
    margin: 2vmax;
}

.updateForm>input[type="file"]::-webkit-file-upload-button {
    background-color: rgb(38, 63, 173);
    color: white;
    width: 100%;
    padding: 1vmax;
    border-radius: 30px;
    border: none;
    font: 100 1.2rem "Roboto", sans-serif;
}

@media screen and (max-width:700px) {
    .updateForm {
        width: 95%;
    }

    .updateForm>input {
        padding: 4vw 8vw;
        margin: 2vmax;
        font: 100 1.2rem "Roboto", sans-serif;
        margin: 4vw;
    }

    .updateForm>input[type="file"] {
        width: 100%;
    }

    .updateForm>input[type="file"]::-webkit-file-upload-button {
        width: 70%
    }

    .registerForm>a {
        align-self: center;
        text-decoration: none;
        color: rgba(0, 0, 0, 0.442);
    }
}